<div id="main-header">
	<a href="/home">
		<div id="logo-wrapper" aria-level="1">
			<div id="flex-wrapper">
			<div>
				<img src="/sites/default/files/2022-06/let-er-buck-logo.png" alt="" id="let-er-buck-logo">
			</div>
		 	<div>
				<span id="city-text">City of</span>
				<img src="/sites/default/files/2022-06/pendleton-wordmark-logo.png" alt="City of Pendleton" id="pendleton-wordmark-logo">
			</div>
			</div>
			<div id="slogan-wrapper">
				<span id="main-slogan">Working Everyday to be the Premier City in Eastern Oregon</span>
				<div id="main-slogan-background-top"></div>
				<div id="main-slogan-background-bottom"></div>
				<div id="main-slogan-background-shadow"></div>
			</div>
		</div>
	</a>
	<div id="main-navigation">
		<a href="https://pendleton.or.us/" id="back-to-pendleton-link">Return to the City of Pendleton</a>
		<nav>
			<a href="/">Home</a>
			<a href="https://pendleton.or.us/cdev">CIFS Documents</a>
			<a href="/projects-map">Projects Map</a>
			<a href="">FAQs</a>
		</nav>
	</div>

</div>